# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig RTC
    bool "RTC"
    help
      RTC Drivers

if RTC

config RTC_NRF5
    bool "Nordic nRF5"
    default y if SOC_NRF52
    help
      Support for the Nordic nRF5 RTC.

config RTC_SF32LB
    bool "SiFli SF32LB"
    default y if SOC_SF32LB52
    select HAL_SIFLI_LRC_CAL
    select HAL_SIFLI_RTC
    help
      Support for the SiFli SF32LB RTC.

config RTC_QEMU
    bool "QEMU RTC"
    default y if SOC_QEMU
    help
      Support for the QEMU RTC peripheral.

module = DRIVER_RTC
module-str = RTC
source "src/fw/Kconfig.template.log_level"

endif # RTC
