# asterix board configuration

CONFIG_SOC_NRF52=y

CONFIG_HAL_NORDIC=y
CONFIG_HAL_NORDIC_NRF52840=y

CONFIG_PLATFORM_FLINT=y

CONFIG_SCREEN_COLOR_DEPTH_BITS_1=y

CONFIG_I2C=y

CONFIG_UART=y

CONFIG_BACKLIGHT=y
CONFIG_BACKLIGHT_PWM=y

CONFIG_VIBE=y
CONFIG_VIBE_DRV2604=y

CONFIG_PMIC=y
CONFIG_PMIC_NPM1300=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_OPT3001=y

CONFIG_MIC=y

CONFIG_SPEAKER=y
CONFIG_SPEAKER_DA7212=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STUB=y

CONFIG_DISPLAY=y

CONFIG_FLASH=y
CONFIG_FLASH_GD25LQ255E=y

CONFIG_OTP=y
CONFIG_OTP_FLASH=y

CONFIG_BATTERY=y
CONFIG_BATTERY_PMIC=y

CONFIG_PRESSURE=y
CONFIG_PRESSURE_BMP390=y

CONFIG_ACCEL_LSM6DSO=y
CONFIG_ACCEL_LSM6DSO_WK_DUR_DEFAULT=1
CONFIG_ACCEL_LSM6DSO_WK_THS_MIN=1
CONFIG_ACCEL_LSM6DSO_WK_THS_MAX=40
CONFIG_ACCEL_LSM6DSO_WK_THS_DEFAULT=16
CONFIG_ACCEL_LSM6DSO_SCALE_MG=4000
CONFIG_MAG=y
CONFIG_MAG_MMC5603NJ=y

CONFIG_WATCHDOG=y

CONFIG_EXTI=y

CONFIG_GPIO=y

CONFIG_PWM=y

CONFIG_RTC=y

CONFIG_RNG=y
CONFIG_RNG_STUB=y

CONFIG_CPUMODE=y
CONFIG_CPUMODE_STUB=y

CONFIG_ACCEL_SENSITIVITY=y
CONFIG_ORIENTATION_MANAGER=y
