[submodule "src/fw/vendor/CMSIS"]
	path = third_party/cmsis_core/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "src/bluetooth-fw/nimble/vendor/mynewt-nimble"]
	path = third_party/nimble/mynewt-nimble
	url = https://github.com/coredevices/mynewt-nimble.git
[submodule "third_party/hal_nordic/nrfx"]
	path = third_party/hal_nordic/nrfx
	url = https://github.com/NordicSemiconductor/nrfx
[submodule "third_party/freertos/FreeRTOS-Kernel"]
	path = third_party/freertos/FreeRTOS-Kernel
	url = https://github.com/coredevices/FreeRTOS-Kernel
[submodule "third_party/nanopb/nanopb"]
	path = third_party/nanopb/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "third_party/tinymt/TinyMT"]
	path = third_party/tinymt/TinyMT
	url = https://github.com/MersenneTwister-Lab/TinyMT
[submodule "third_party/hal_sifli/SiFli-SDK"]
	path = third_party/hal_sifli/SiFli-SDK
	url = https://github.com/coredevices/SiFli-SDK.git
[submodule "third_party/memfault/memfault-firmware-sdk"]
	path = third_party/memfault/memfault-firmware-sdk
	url = https://github.com/memfault/memfault-firmware-sdk.git
[submodule "third_party/qr_code_generator/QR-Code-generator"]
	path = third_party/qr_code_generator/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
[submodule "third_party/nonfree/pebbleos-nonfree"]
	path = third_party/nonfree/pebbleos-nonfree
	url = https://github.com/coredevices/pebbleos-nonfree
[submodule "third_party/speex/speex"]
	path = third_party/speex/speex
	url = https://github.com/xiph/speex
[submodule "third_party/resources/iconography"]
	path = third_party/resources/iconography
	url = https://github.com/pebble-dev/iconography
[submodule "third_party/moddable/moddable"]
	path = third_party/moddable/moddable
	url = https://github.com/coredevices/moddable.git
