pillow
freetype-py
ply==3.4
pyusb==1.3.1
pyserial
sh
pypng
pexpect
cobs==1.0.0
svg.path
requests
GitPython==1.0.1
pyelftools
pycryptodome
mock
nose
boto
prompt_toolkit>=0.55
enum34
bitarray
pep8
polib
intelhex>=2.1,<3
protobuf
grpcio-tools
nanopb
kconfiglib
certifi
libclang
packaging
PyYAML
libpebble2>=0.0.16
pathlib

-e tools/libs/pebble-commander
-e tools/libs/pulse2
-e tools/libs/pebble-loghash
