# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig PWM
    bool "PWM"
    help
      PWM Drivers

if PWM

config PWM_NRF5
    bool "Nordic nRF5"
    default y if SOC_NRF52
    help
      Support for the Nordic nRF5 PWM controller.

config PWM_SF32LB
    bool "SiFli SF32LB"
    default y if SOC_SF32LB52
    select HAL_SIFLI_GPT
    help
      Support for the SiFli SF32LB PWM controller.

config PWM_QEMU
    bool "QEMU PWM"
    default y if SOC_QEMU
    help
      Support for the QEMU PWM peripheral.

endif # PWM
