# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig TOUCH
    bool "Touchscreen"
    help
      Touchscreen Drivers

if TOUCH

config TOUCH_CST816
    bool "Hynitron CST816"
    help
      Support for the Hynitron CST816 touch controller.

config TOUCH_QEMU
    bool "QEMU Touchscreen"
    default y if SOC_QEMU
    help
      Support for the QEMU touchscreen peripheral.

module = DRIVER_TOUCH
module-str = Touchscreen
source "src/fw/Kconfig.template.log_level"

endif # TOUCH
