# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig I2C
    bool "I2C"
    help
      I2C Drivers

if I2C

config I2C_NRF5
    bool "Nordic nRF5 I2C Controller"
    default y if SOC_NRF52
    help
      Support for the Nordic nRF5 I2C controller.

config I2C_SF32LB
    bool "SiFli SF32LB I2C Controller"
    default y if SOC_SF32LB52
    select HAL_SIFLI_I2C
    help
      Support for the SiFli SF32LB I2C controller.

module = DRIVER_I2C
module-str = I2C
source "src/fw/Kconfig.template.log_level"

endif # I2C
