# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig TEMPERATURE
    bool "Temperature Sensor"
    help
      Temperature Sensor Drivers

if TEMPERATURE

config TEMPERATURE_SF32LB
    bool "SiFli SF32LB"
    default y if SOC_SF32LB52
    help
      Support for the SiFli SF32LB temperature sensor.

config TEMPERATURE_STUB
    bool "Stub"
    help
      Stub temperature sensor implementation.

endif # TEMPERATURE
