# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig RNG
    bool "Random Number Generator"
    help
      RNG Drivers

if RNG

config RNG_SF32LB
    bool "SiFli SF32LB"
    default y if SOC_SF32LB52
    select HAL_SIFLI_RNG
    help
      Support for the SiFli SF32LB RNG.

config RNG_STUB
    bool "Stub"
    help
      Stub RNG implementation.

module = DRIVER_RNG
module-str = Random Number Generator
source "src/fw/Kconfig.template.log_level"

endif # RNG
