# qemu_emery board configuration

CONFIG_SOC_QEMU=y
CONFIG_CORTEX_M33=y

CONFIG_PLATFORM_EMERY=y

CONFIG_SCREEN_COLOR_DEPTH_BITS_8=y

CONFIG_UART=y

CONFIG_DISPLAY=y

CONFIG_FLASH=y

CONFIG_BATTERY=y

CONFIG_TOUCH=y

CONFIG_WATCHDOG=y

CONFIG_EXTI=y

CONFIG_BACKLIGHT=y
CONFIG_BACKLIGHT_QEMU_COLOR=y

CONFIG_GPIO=y

CONFIG_PWM=y

CONFIG_RTC=y

CONFIG_RNG=y
CONFIG_RNG_STUB=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STUB=y

CONFIG_CPUMODE=y
CONFIG_CPUMODE_STUB=y

CONFIG_MIC=y

CONFIG_SPEAKER=y

CONFIG_HRM=y
CONFIG_HRM_STUB=y

CONFIG_APP_SCALING=y
CONFIG_MODDABLE_XS=y
