# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Services"

rsource "accel_manager/Kconfig"
rsource "activity/Kconfig"
rsource "alarms/Kconfig"
rsource "analytics/Kconfig"
rsource "animation_service/Kconfig"
rsource "app_cache/Kconfig"
rsource "app_fetch_endpoint/Kconfig"
rsource "app_glances/Kconfig"
rsource "app_inbox_service/Kconfig"
rsource "app_message/Kconfig"
rsource "app_order_endpoint/Kconfig"
rsource "app_outbox_service/Kconfig"
rsource "audio_endpoint/Kconfig"
rsource "battery/Kconfig"
rsource "blob_db/Kconfig"
rsource "bluetooth/Kconfig"
rsource "boot_splash/Kconfig"
rsource "clock/Kconfig"
rsource "comm_session/Kconfig"
rsource "compositor/Kconfig"
rsource "contacts/Kconfig"
rsource "cron/Kconfig"
rsource "data_logging/Kconfig"
rsource "debounced_connection_service/Kconfig"
rsource "ecompass/Kconfig"
rsource "event_service/Kconfig"
rsource "evented_timer/Kconfig"
rsource "filesystem/Kconfig"
rsource "firmware_update/Kconfig"
rsource "get_bytes/Kconfig"
rsource "health_sync_endpoint/Kconfig"
rsource "hrm/Kconfig"
rsource "i18n/Kconfig"
rsource "idle_watchdog/Kconfig"
rsource "light/Kconfig"
rsource "music/Kconfig"
rsource "new_timer/Kconfig"
rsource "notifications/Kconfig"
rsource "orientation_manager/Kconfig"
rsource "persist/Kconfig"
rsource "phone_call/Kconfig"
rsource "phone_pp/Kconfig"
rsource "ping/Kconfig"
rsource "poll_remote/Kconfig"
rsource "powermode_service/Kconfig"
rsource "prf_update/Kconfig"
rsource "process_management/Kconfig"
rsource "protobuf_log/Kconfig"
rsource "put_bytes/Kconfig"
rsource "registry_endpoint/Kconfig"
rsource "regular_timer/Kconfig"
rsource "send_text_service/Kconfig"
rsource "services_common/Kconfig"
rsource "services_normal/Kconfig"
rsource "settings/Kconfig"
rsource "shared_prf_storage/Kconfig"
rsource "speaker/Kconfig"
rsource "stationary/Kconfig"
rsource "system_task/Kconfig"
rsource "tick_timer/Kconfig"
rsource "timeline/Kconfig"
rsource "timezone_database/Kconfig"
rsource "touch/Kconfig"
rsource "vibe_pattern/Kconfig"
rsource "vibes/Kconfig"
rsource "voice/Kconfig"
rsource "voice_endpoint/Kconfig"
rsource "wakeup/Kconfig"
rsource "weather/Kconfig"

endmenu
