# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig FLASH
    bool "Flash"
    help
      Flash Drivers

if FLASH

config FLASH_GD25LQ255E
    bool "GigaDevice GD25LQ255E"
    help
      Support for the GigaDevice GD25LQ255E NOR flash.

config FLASH_GD25Q256E
    bool "GigaDevice GD25Q256E"
    help
      Support for the GigaDevice GD25Q256E NOR flash.

config FLASH_QEMU
    bool "QEMU External Flash"
    default y if SOC_QEMU
    help
      Support for the QEMU external flash peripheral.

module = DRIVER_FLASH
module-str = Flash
source "src/fw/Kconfig.template.log_level"

endif # FLASH
