# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Demo"

rsource "accel_demo/Kconfig"
rsource "action_menu/Kconfig"
rsource "activity_demo/Kconfig"
rsource "activity_test/Kconfig"
rsource "amb_light_read/Kconfig"
rsource "animated_demo/Kconfig"
rsource "app_heap_demo/Kconfig"
rsource "bouncing_box_demo/Kconfig"
rsource "click/Kconfig"
rsource "data_logging_test/Kconfig"
rsource "deadlock/Kconfig"
rsource "dialogs/Kconfig"
rsource "double_tap_test/Kconfig"
rsource "event_service/Kconfig"
rsource "exit/Kconfig"
rsource "flash_diagnostic/Kconfig"
rsource "flash_prof/Kconfig"
rsource "font_test/Kconfig"
rsource "fs_resources/Kconfig"
rsource "fw_update_progress_sim/Kconfig"
rsource "gdrawmask_demo/Kconfig"
rsource "gfx_tests/Kconfig"
rsource "hrm_demo/Kconfig"
rsource "idl/Kconfig"
rsource "kill_bt/Kconfig"
rsource "kino_layer/Kconfig"
rsource "light_config/Kconfig"
rsource "menu/Kconfig"
rsource "menu_overflow/Kconfig"
rsource "menu_right_icon/Kconfig"
rsource "menu_round/Kconfig"
rsource "morph_square/Kconfig"
rsource "movable_line/Kconfig"
rsource "mpu_test/Kconfig"
rsource "mpu_violation_test/Kconfig"
rsource "number_field/Kconfig"
rsource "option_menu/Kconfig"
rsource "pebble_colors/Kconfig"
rsource "pebble_shapes/Kconfig"
rsource "persist/Kconfig"
rsource "profile_mutexes/Kconfig"
rsource "progress/Kconfig"
rsource "scroll/Kconfig"
rsource "simple_menu/Kconfig"
rsource "statusbar/Kconfig"
rsource "stroke_width/Kconfig"
rsource "swap_layer/Kconfig"
rsource "temperature_demo/Kconfig"
rsource "test_args_receiver/Kconfig"
rsource "test_args_sender/Kconfig"
rsource "test_bluetooth/Kconfig"
rsource "test_core_dump/Kconfig"
rsource "test_sys_timer/Kconfig"
rsource "text_clipping/Kconfig"
rsource "text_flow/Kconfig"
rsource "text_layout/Kconfig"
rsource "text_spacing/Kconfig"
rsource "timeline_pins/Kconfig"
rsource "timer/Kconfig"
rsource "trigger_alarm/Kconfig"
rsource "vibe_and_logs/Kconfig"
rsource "vibe_score/Kconfig"
rsource "vibe_strength/Kconfig"

endmenu
